#root {
  max-width: 400px;
  display: block;
  margin: auto;
  background-color: fefefe;
  padding: 20px;
  border: 1px solid #ddd;
  margin-top: 20px;
  border-radius: 4px;
}

* {
  box-sizing: border-box;
}